### **python module**

**1) what will be the the output of the following in python programming?**
1) Error
2) None
3) False
4) True : 
#### answer : option 4) The correct answer is True if the id of the original list q is equal to the id returned by the foo function.

In [2]:
def foo(x): # foo function takes a parameter x.
    x[0] = ['def'] # it modifies first and second element of list x to be new lists 
    x[1] = ['abc'] 
    return id(x) # return unique identifiers of x using id() function
q = ['abc', 'def'] # outside func a list q is defined with x elements
print(id(q) == foo(q)) # prints result of comparing the unique identifier of q with the result of calling the foo() function with q as the argument.

True

**2) what will be the output of the following python code?**
1) error,there is more than one return statement in asingle try-finally block
2) 1
3) 1 2
4) 2
#### answer : option 4) In the presence of a finally block, if there is a return statement in both the try and finally blocks, the return statement in the finally block takes precedence. It overrides any return statement in the try block.and in the above code the function will return '2' as its being returned in finally block in the function.

In [3]:
def fun(): # inside the fun function it has try-except-finally block.
    try:
        return 1 # the try block returns the value 1.
    finally: 
        return 2 #The finally block also has a return statement, but it does not specify any value to return. This means it will not return any explicit value.
k = fun() # The variable k is assigned the result of calling the fun() function.
print(k) # Finally, the code prints the value of k, which will be None since the finally block does not return a value.

2

**3) what will be the the output of the following code snippet?**

In [4]:
def func(): # function named func 
    global value # a global variable named value
    value = 'local' # Inside the func function, it assigns the string value 'local' to the global variable value.
value = 'global' 
func() # Then, the initial value of the global variable 'global' is overwritten by calling the func function. 
print(value) # Finally, the value of the global variable is printed, which will be 'local' since it was modified inside the func function.

local

**4) ____IOError____expectations are raised as a result of an error in opening a particular file (IOE : input/output device error)**
* output : IOError: This exception is raised when an I/O operation, such as reading or writing a file, fails due to an input/output error.

**5) in python we do not specify types, it is directly interpreted by the compiler, so consider the following operation to be performed**

1) x = 13//2  # it evaluates 6 in integer div
2) x = int(13/2)  # reg div here converts result to an int result will be 6. # fractional part is discarded during the conversion.
3) x = 13%2  # it calculates remainder of the division reminder is 1
4) all of the mentioned  # here option d was correct because every operation is performed
#### answer : option 3) x = 13 % 2: This performs the modulus operation, and the result is 1. The % operator gives the remainder when 13 is divided by 2.

In [5]:
x = 13 % 2
x

1

**6) what will be the output of the following python code?**
#### NameError
* it typically occurs when trying to access a variable or name that is not defined. If t is not defined earlier in the code, a NameError might occur, but it wouldn't be the primary issue here.

In [6]:
t[5]

NameError: name 't' is not defined

**7) a while loop in python is used for what type of iteration?**
1) indefinite
2) discriminant
3) definite
4) indeterminate

#### answer : option 1) is correct

A while loop in Python is used for indefinite iteration, meaning it continues to execute the block of code as long as the specified condition remains true. The loop continues until the condition becomes false or until a break statement is encountered within the loop.

**8) what will be the iutput of the following python code?**
1) a b c d e f
2) abcdef
3) iiiiii......
4) Error : code is raising nameerror because we are using undefined variable i in while loop.

In [7]:
x = 'abcdef'
while i in x: # i variable is unpresent in x
    print(i, end = " ") # so, error raised

NameError: name 'i' is not defined

#### 9) what will be the main advantage of using decorators in python?
1) they make the code more complex
2) they simplify the syntax of the decorated functions
3) they reduce the performance of the code
4) they provide additional security features

#### answer : option 2)

#### 10) if return statement is not used inside the function, the function will return:
1) None
2) 0
3) Null
4) arbitary value

#### answer : If a return statement is not used inside a Python function, the function will return None. In Python, functions without an explicit return statement automatically return None by default.

#### 11) What is called when a function is defined inside a class?
1) class
2) function
3) method
4) module

#### answer : 3) method
* When a function is defined inside a class in Python, it is referred to as a method. Methods in classes are functions that are associated with an instance of the class, and they can access and modify the attributes of that instance.

#### 12) Which operator is used in Python to import modules from packages?
1) .
2) *
3) ->
4) &

#### answer : option 1) dot (.)
* In Python, the dot (.) operator is used to import modules from packages.  When you use the dot operator, it allows you to access modules or attributes within a package. For example:
* the dot operator is used to specify the hierarchy of the package and module structure.

#### 13) question

In [8]:
def getMonth(m): # it takes an argument m
    if m<1 or m>12: # it checks if the value of m is less than 1 or greater than 12
        raise ValueError('Invalid') # raises a valueError with invalid
    print(m) # if m is within valid range, it prints value of m
getMonth(6) # code calls getmonth func with argument 6

# 1) ValueError
# 2) invalid
# 3) 6
# 4) ValueError('invalid')

6

#### 14) in the python programming language, syntanx error is detected by _____ at ________  
> choose answer correctly

1) interpreter / compile time
2) run time / interpreter
3) interpreter / run time
4) compile time / run time

#### answer : 
* parttially we can say it as Interpreter/Runtime,but actually In Python, syntax errors are detected by the interpreter during the parsing phase(when you run a Python script or module, the interpreter reads and analyzes your code line by line. This is the parsing phase)

#### 15) question

In [9]:
class book: # code defines class 'book' 
    def __init__(self, author): #with an initilizer method 'init' that takes parameter 'author' assigns it to the insis
        self.author = author # assigns it to instance variable 'self-author'
book1 = book('v.m.shah') # code creates instance 'book' called 'book1' and passes string 'v.m.shah as arg for 'author' parameter
book2 = book1 # code created another instance 'book' called class 'book2' and assigns it to a value 'book1'

In [10]:
id(book1)

2016697387088

In [11]:
id(book2)

2016697387088

#### answer : option 2) id(book1) and id(book2) will have same value. both books refers to the same object id values are same. they are two references to the same instance.

### Data Analysis module

In [12]:
import numpy as np 
import pandas as pd
df=pd.read_csv(r"C:\Users\sathw\Downloads\Data analysis assesment.csv")
df

        date  category     product customerID  quantity  unitprice
0   1/1/2024  beverage  cappuccino       C004         1        3.0
1   2/1/2024      food   croissant       C002         2        2.0
2   3/1/2024  beverage    espresso       C001         2        2.0
3  10/1/2024  beverage       latte       C001         3        3.5
4   9/1/2024  beverage       latte       C003         1        3.5
5   8/1/2024      food      muffin       C002         1        2.5

#### 16) how to create a new column 'revenue', which has values eaquals to the quantity*unitprice of the current row.
1) df['Revenue'] = df['Quantity'] * df['UnitPrice']
2) df['Revenue'] = df.apply(lambda x:x['Quantity']*x['UnitPrice'],axis=1)
3) df['Revenue'] = df.apply(lambda x:x['Quantity']*x['UnitPrice'],axis=0)
4) df['Revenue'] = df['Quantity'] ** df['UnitPrice']
#### answer : option 1, 2

In [13]:
# option : a)
df['revenue']=df['quantity']*df['unitprice']
df['revenue']

0     3.0
1     4.0
2     4.0
3    10.5
4     3.5
5     2.5
Name: revenue, dtype: float64

In [14]:
# option : b)
df['revenue']=df.apply(lambda x:
                      x['quantity']*x['unitprice'], axis = 1)
df['revenue']

0     3.0
1     4.0
2     4.0
3    10.5
4     3.5
5     2.5
Name: revenue, dtype: float64

#### 17) what is the syntax to find categorical wise revenue?
1) df.groupby('Category')['Revenue'].mean()
2) df.groupby('Category')['Revenue'].sum()
3) df.groupby('Category')['Revenue'].agg(np.sum)
4) df.groupby('Category')['Revenue'].agg('sum')
#### answer : option 2, 3, 4

In [15]:
df.groupby('category')['revenue'].sum() # it calculates by using the sum function

category
beverage    21.0
food         6.5
Name: revenue, dtype: float64

In [16]:
import numpy as np
df.groupby('category')['revenue'].agg(np.sum) # by using aggregate functions

category
beverage    21.0
food         6.5
Name: revenue, dtype: float64

In [17]:
df.groupby('category')['revenue'].agg('sum') # by passing the string method in aggregate function

category
beverage    21.0
food         6.5
Name: revenue, dtype: float64

##### 18) to find the average quantity wrt to date and product, what is the correct syntax?
1) df.groupby(['Date', 'Product'])['Quantity'].avg()
2) df.groupby(['Date', 'Product'])['Quantity'].mean()
3) df.groupby(['Product', 'Date'])['Quantity'].avg()
4) df.groupby(['Date', 'Mean'])['Quantity'].mean()
#### option 2 : it groups the DataFrame by 'date' and 'product' columns then calculates the mean of the 'Quantity' column for each group.

In [18]:
df.groupby(['date','product'])['quantity'].mean()

date       product
1/1/2024   cappuccino    1.0
10/1/2024  latte         3.0
2/1/2024   croissant     2.0
3/1/2024   espresso      2.0
8/1/2024   muffin        1.0
9/1/2024   latte         1.0
Name: quantity, dtype: float64

#### 19) Categorical wise revenue for Bevarage and Food respectively are
1) 28.5 , 6.0
2) 6.0 , 27.5
3) 28.5 ,7.0
4) 7.0 , 28.5

In [19]:
df.groupby('category')['revenue'].sum()

category
beverage    21.0
food         6.5
Name: revenue, dtype: float64

#### 20) using transform what is the syntax to create a column which has a unitprice difference wrt its category mean ?
1) df.groupby('Category')['UnitPrice'].transform(lambda x:x-x.mean())
2) df.groupby('Category')('UnitPrice').transform(lambda x:x-x.mean())
3) df.groupby['Category']['UnitPrice'].transform(lambda x:x-x.mean())
4) df.groupby(['Category','UnitPrice']).transform(lambda x:x-x.mean())
#### answer : option 1)  It groups the DataFrame by the 'Category' column and then calculates the unit price difference for each group by subtracting the mean unit price of the category from each individual unit price.

In [24]:
df.groupby('category')['unitprice'].transform(lambda x:x-x.mean())

0    0.00
1   -0.25
2   -1.00
3    0.50
4    0.50
5    0.25
Name: unitprice, dtype: float64

#### 21) What is the correct syntax to get data wrt 'Monday'
1) df.groupby(df.Date.dt.day_name()).get_group('Monday')
2) df.groupby(df.Date.dt.dayname()).get_group('Monday')
3) df.groupby(df.Date.dt.dayofweekname()).get_group('Monday')
4) df.groupby(df.Date.dt.day_of_weekname()).get_group('Monday')
#### answer : option 1)  It groups the DataFrame by the day names of the 'Date' column using dt.day_name() and then retrieves the group corresponding to 'Monday' using get_group('Monday')

In [45]:
df.groupby(df.date.dt.day_name()).get_group('Monday')

        date  category     product customerID  quantity  unitprice  revenue
0 2024-01-01  beverage  cappuccino       C004         1        3.0      3.0

#### 22) which of the following statements is/are True ?
1) apply() can be applied on rows
2) apply function can't be applied on rows
3) apply applies the function on the entire series at a time.
4) apply apllies the function one cell at a time.
#### answer : option 3)

#### 23) Which of the following statements is / are true
1) Map applies the functionality on entire DataFrame
2) Applymap applies the functionality on series be it ro or a column
3) Apply and Map are vectorized applications
4) None of the above
#### answer : option 2) The applymap function is used for element-wise transformations on all elements of a DataFrame, not just a Series. It is applied to each individual element, not rows or columns.

### data analytics module 2nd dataframe

In [54]:
df1 = pd.read_csv(r"C:\Users\sathw\Downloads\data assessment 0f df1.csv")
df1

           date region salesperson   product  quantity  unitprice
0  10-01-2024\t  north        ajay  notebook         5         12
1     1/11/2024  south       baalu       pen        10          3
2     1/10/2024   east      chirag  notebook         7         12
3     1/12/2024   west        ajay       pen        15          3
4     1/11/2024  north       baalu    binder        20          5
5     1/12/2024   east      chirag    binder        10          5

#### 24) create a pivot table with index ass Nort and South and Columns as Product Where values are sum of Quantities Sold
1) df1[df1['Region'].isin(['North', 'South'])].pivot_table(index='Region', columns='Product', values='Quantity', aggfunc='sum')
2) df1[df1['Region'].isin(['North', 'South'])].pivot_table(index='Product', columns='Product', values='Quantity', aggfunc='sum')
3) df1[(df1['Region']=='North')|(df1['Region']=='South')].pivot_table(index='Product', columns='Product', values='Quantity', aggfunc='sum')
4) df1[(df1['Region']=='North')|(df1['Region']=='South')].pivot_table(index='Product', columns='Product', values='Quantity', aggfunc='sum')
#### answer : option 1) It correctly filters the DataFrame for regions 'North' and 'South' and creates a pivot table with 'Region' as the index, 'Product' as columns, and 'Quantity' as values. It uses the sum as the aggregation function.

In [49]:
df1[df1['region'].isin(['north', 'south'])].pivot_table(index='region', columns='product', values='quantity', aggfunc='sum')

product  binder  notebook   pen
region
north      20.0       5.0   NaN
south       NaN       NaN  10.0

#### 25) Which of the following statements is/are True
1) .iloc method includes the last element when used for slicing
2) .loc method doesn't includes the last element when used for slicing
3) .loc method includes the last element and pass default integer index of rows when slicing
4) None of above
#### answer : option 3) # True. You can use .loc and pass the default integer index of rows for slicing. This means you can slice the DataFrame using row indices.

#### 26) Using a pivot table is it possible to create a multi-index data frame,if so what is the syntax to have a multi index of Date and Region with total product sold as values
1) no we can't create a multi-index table uisng pivot table
2) df1.pivot_table(index=['Date','Region'],columns='Product',values='Quantity',aggfunc='sum')
3) df1.pivot_table(index=['Date','Region'],columns='Product',values='Quantity',agg='sum')
4) None of these
#### answer : option 2)  It uses the pivot_table method to create a multi-index DataFrame with 'Date' and 'Region' as the index levels, 'Product' as columns, and 'Quantity' as values. It uses 'sum' as the aggregation function.

In [51]:
df1.pivot_table(index=['date','region'],columns='product',values='quantity',aggfunc='sum')

product              binder  notebook   pen
date         region
1/10/2024    east       NaN       7.0   NaN
1/11/2024    north     20.0       NaN   NaN
             south      NaN       NaN  10.0
1/12/2024    east      10.0       NaN   NaN
             west       NaN       NaN  15.0
10-01-2024\t north      NaN       5.0   NaN

#### 27) What does the margins parameter in pivot_table() allows to include in the pivot table
1) Additional margins and subtotals for rows and columns
2) A list of column names to exclude from the pivot table
3) The number of rows and columns to skip at the beginning of the pivot table
4) The maximum number of rows and columns to display in the pivot table
#### answer : option 1) When you set margins=True or margins_name=True, it adds rows and columns showing the grand totals or subtotals along both dimensions (rows and columns) of the pivot table.

In [53]:
df2 = pd.DataFrame({
    'Fruits': ['apple', 'banana', 'apple', 'apple', 'banana', 'apple', 'kiwi', 'kiwi', 'banana', 'apple', 'kiwi', 'apple', 'banana', 'grape', 'apple', 'banana', 'apple', 'apple', 'grape'],
    'Price': ['', '', 205, 200, 40, 210, 300, 320, '', 180, 350, '', 35, '', 215, 40, '', '', '']
})
df2

    Fruits Price
0    apple
1   banana
2    apple   205
3    apple   200
4   banana    40
5    apple   210
6     kiwi   300
7     kiwi   320
8   banana
9    apple   180
10    kiwi   350
11   apple
12  banana    35
13   grape
14   apple   215
15  banana    40
16   apple
17   apple
18   grape

#### 28) If we choose to imputing missing values in Price Col by Chaining ffill() and bfill() while limiting the imputation to 1,1 respectively , how many missing values will be left post imputation
1) 2
2) 0
3) 1
4) 3
#### answer : option 3

In [55]:
df2['Price'] = pd.to_numeric(df2['Price'])
df2['Price'] = df2['Price'].ffill(limit=1).bfill(limit=1)
df2

    Fruits  Price
0    apple    NaN
1   banana  205.0
2    apple  205.0
3    apple  200.0
4   banana   40.0
5    apple  210.0
6     kiwi  300.0
7     kiwi  320.0
8   banana  320.0
9    apple  180.0
10    kiwi  350.0
11   apple  350.0
12  banana   35.0
13   grape   35.0
14   apple  215.0
15  banana   40.0
16   apple   40.0
17   apple    NaN
18   grape    NaN

#### 29) What kind of missing values handling technique is appropriate for df2
1) Imputing Price col with Price's mean
2) Imputing Price col with Price's median
3) Imputing Price col with Individual fruits Price's median
4) Dropping missing values
#### answer : option 3)

#### 30) If we choose to impute missing values in price col by with individual fruit's price's mean, how many missing values will be post imputation
1) 2
2) 0
3) 1
4) 3
#### answer : option 2

In [56]:
df2['Price'] = pd.to_numeric(df2['Price'])
df2['Price'] = df2.groupby('Fruits')['Price'].transform(lambda x: x.fillna(x.median()))
df2

    Fruits  Price
0    apple  205.0
1   banana  205.0
2    apple  205.0
3    apple  200.0
4   banana   40.0
5    apple  210.0
6     kiwi  300.0
7     kiwi  320.0
8   banana  320.0
9    apple  180.0
10    kiwi  350.0
11   apple  350.0
12  banana   35.0
13   grape   35.0
14   apple  215.0
15  banana   40.0
16   apple   40.0
17   apple  205.0
18   grape   35.0

#### 31) a = pd.Series([np.nan, 1, 2, np.nan, np.nan, np.nan, np.nan, 4, 5, 7]) What will be the output of a.interpolate()
1) [nan,1.0,2.0,2.3,2.7,3.1,3.5,4.0,5.0,7.0]
2) [nan,1.0,2.0,2.5,2.9,3.3,3.8,4.0,5.0,7.0]
3) [nan,1.0,2.0,2.4,2.8,3.2,3.6,4.0,5.0,7.0]
4) Error
#### answer : option 3

In [57]:
a = pd.Series([np.nan, 1, 2, np.nan, np.nan, np.nan, np.nan, 4, 5, 7])
a.interpolate()

0    NaN
1    1.0
2    2.0
3    2.4
4    2.8
5    3.2
6    3.6
7    4.0
8    5.0
9    7.0
dtype: float64

#### 32) What is the use of the normalization parameter in the crosstab method of pandas
1) It is used to normalize values by dividing them by the total count
2) to add margins
3) ther is no parameter called as normalize in crosstab
4) Both a & c
#### Answer : option 1)   the normalize parameter is set to True in the pd.crosstab method, it normalizes the values by dividing them by the total count, expressing the table as a fraction of the total.

In [65]:
df3 =pd.DataFrame({
    'Age Group': ['26-35', '18-25', '18-25', '26-35', '18-25', '18-25'],
    'Favorite Color': ['Blue', 'Red', 'Red', 'Blue', 'Red', 'Blue'],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Female', 'Female'],
    'Has Pet': ['Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No']
})

df3

  Age Group Favorite Color  Gender Has Pet
0     26-35           Blue    Male     Yes
1     18-25            Red  Female     Yes
2     18-25            Red    Male     Yes
3     26-35           Blue  Female     Yes
4     18-25            Red  Female     Yes
5     18-25           Blue  Female      No

#### 33) What is the probabilty of finding a Male and having a Pet in df3
1) 0.333
2) 0.666
3) 0.5
4) 0.1667
#### answer : option 1

In [67]:
total_observations = len(df3)
male_and_has_pet = len(df3[(df3['Gender'] == 'Male') & (df3['Has Pet'] == 'Yes')])

probability = male_and_has_pet / total_observations
probability

0.3333333333333333

#### 34) What is the probabilty of finding a person having Pet given they belong to the age group 18-25 in df3
1) 0.25
2) 0
3) 0.75
4) 1
#### answer : option 3

In [68]:
age_group_18_25 = len(df3[df3['Age Group'] == '18-25'])
has_pet_and_age_group_18_25 = len(df3[(df3['Age Group'] == '18-25') & (df3['Has Pet'] == 'Yes')])

probability = has_pet_and_age_group_18_25 / age_group_18_25
print(probability)

0.75

#### 35) Which distribution is appropriate for modeling the number of defects in a large batch of products
1) Normal
2) Binomial
3) Bernouli
4) Uniform

#### answer : option 2) Binomial Distribution: This distribution is suitable when you have a fixed number of independent trials, each with the same probability of success or failure. In the context of defects in a batch of products, you can consider each product as a trial, and the probability of success is the probability of a product being defective.

#### 36) A survey asks participants to rate their satisfaction with a product on a scale of 1 to 5 ,what type of data is being collected?
1) Categorical data
2) Ordinal data
3) Continuous data
4) Discrete data
#### answer : option 2) ordinal data : The type of data being collected in this survey is ordinal data. Ordinal data is a categorical and ordered type of data where the values have a meaningful sequence or order, but the intervals between the values are not uniform or meaningful. In this case, the satisfaction ratings on a scale of 1 to 5 have a specific order, but the difference between, for example, a rating of 4 and 5 may not necessarily represent the same level of satisfaction as the difference between 2 and 3.

#### 37) From given fig. in question , what kind of distribution does the data follow
1) Right skewed
2) Left skewed
3) Normal
4) Uniform
#### answer : option 1

#### 38) In data with outliers , what is the best measure to estimate the dispersion
1) Standard Deviation
2) Z-score
3) Median Absolute Deviation
4) Uniform
#### answer : option 3)  This is often the best choice for estimating dispersion in the presence of outliers. therefore, the data with outliers, the most suitable measure from the given options would be the Median Absolute Deviation